.HomePage {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.laptop {
  width: 500px;
}

h1 {
  font-size: 50px;
}

.text {
  margin-top: 180px;
  width: 40%;
  margin-left: 125px;
  text-align: left;
  color: #d6e3ea;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: #d6e3ea;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

.laptopContainer {
  width: 40%;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 200px;
  margin-bottom: 100px;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.button-56 {
  align-items: center;
  background-color: #3fbafc;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  margin-top: 5px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
  text-decoration: none;
}

.button-56:hover:after {
  transform: translate(0, 0);
  text-decoration: none;
}

.button-56:active {
  background-color: #3452d8;
  outline: 0;
  text-decoration: none;
}

.button-56:hover {
  outline: 0;
  text-decoration: none;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
}